In [ ]:
#Apply SMOTE for upsampling the data
#Use logistic regression to fit the model and compute the accuracy of the model.
#Use decision tree classifier to fit the model and compute the accuracy of the model.
#Compare the accuracies of the two models.

In [22]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [4]:
data = pd.read_csv('Customer-Churn.csv')

In [5]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [6]:
data.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [7]:
data['SeniorCitizen'] = data['SeniorCitizen'].astype(object)
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

In [8]:
#checking the null values

nulls_data = data.isna().sum()*100 / len(data)
nulls_data

gender              0.000000
SeniorCitizen       0.000000
Partner             0.000000
Dependents          0.000000
tenure              0.000000
PhoneService        0.000000
OnlineSecurity      0.000000
OnlineBackup        0.000000
DeviceProtection    0.000000
TechSupport         0.000000
StreamingTV         0.000000
StreamingMovies     0.000000
Contract            0.000000
MonthlyCharges      0.000000
TotalCharges        0.156183
Churn               0.000000
dtype: float64

In [9]:
mean = data['TotalCharges'].mean()
data['TotalCharges'] = data['TotalCharges'].fillna(mean)

In [10]:
#Spliting the data into numerical and categorical

numerical = data.select_dtypes(exclude='object')
categorical = data.select_dtypes(include='object')
y = categorical['Churn']
categorical = categorical.drop(['Churn'], axis=1)

In [17]:
#scaling the numerical data

def standard_scaler(data):
    columns = data.columns
    data_copy = pd.DataFrame(StandardScaler().fit(data).transform(data))
    data_copy.columns = columns
    return data_copy

numerical_scaled = standard_scaler(numerical)
numerical_scaled

        tenure  MonthlyCharges  TotalCharges
0    -1.277445       -1.160323     -0.994971
1     0.066327       -0.259629     -0.173876
2    -1.236724       -0.362660     -0.960399
3     0.514251       -0.746535     -0.195400
4    -1.236724        0.197365     -0.941193
...        ...             ...           ...
7038 -0.340876        0.665992     -0.129281
7039  1.613701        1.277533      2.242808
7040 -0.870241       -1.168632     -0.855182
7041 -1.155283        0.320338     -0.872777
7042  1.369379        1.358961      2.013917

[7043 rows x 3 columns]

In [18]:
# Encoding the categorical data

columns_to_encode = list(categorical.columns)
categorical_encoded = pd.get_dummies(categorical[columns_to_encode])

C:\Users\ines_\anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [19]:
categorical_encoded

,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,PhoneService_Yes,...,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year
0,1,0,1,0,0,1,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
1,0,1,1,0,1,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
2,0,1,1,0,1,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
3,0,1,1,0,1,0,1,0,1,0,...,1,1,0,0,1,0,0,0,1,0
4,1,0,1,0,1,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,1,0,0,1,0,1,0,1,...,1,0,0,1,0,0,1,0,1,0
7039,1,0,1,0,0,1,0,1,0,1,...,0,0,0,1,0,0,1,0,1,0
7040,1,0,1,0,0,1,0,1,1,0,...,0,1,0,0,1,0,0,1,0,0
7041,0,1,0,1,0,1,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
7042,0,1,1,0,1,0,1,0,0,1,...,1,0,0,1,0,0,1,0,0,1

In [20]:
X = pd.concat([numerical_scaled, categorical_encoded], axis=1)

In [ ]:
# Apply SMOTE for upsampling the data

In [25]:
X_smote_train, X_smote_test, y_smote_train, y_smote_test = train_test_split(X_smote,y_smote, test_size=0.4, random_state=100)

In [27]:
model_smote = LogisticRegression(max_iter=1000).fit(X_smote_train, y_smote_train)
y_smote_pred = model_smote.predict(X_smote_test)
model_smote.score(X_smote_test, y_smote_test)

0.8231884057971014

In [29]:
# Use decision tree classifier to fit the model and compute the accuracy of the model.
# Compare the accuracies of the two models.

tree_model_smote = DecisionTreeClassifier()
tree_model_smote.fit(X_smote_train, y_smote_train)
tree_model_smote.score(X_smote_test,y_smote_test)

0.7756038647342995

In [ ]:
# Apply TomekLinks for downsampling

In [31]:
tl = TomekLinks()
X_tl, y_tl = tl.fit_resample(X, y)
X_tl_train, X_tl_test, y_tl_train, y_tl_test = train_test_split(X_tl,y_tl, test_size=0.4, random_state=100)

In [33]:
model_tl = LogisticRegression(max_iter=1000).fit(X_tl_train, y_tl_train)
y_tl_pred = model_tl.predict(X_tl_test)
model_tl.score(X_tl_test, y_tl_test)

0.8060046189376443

In [35]:
# Use decision tree classifier to fit the model and compute the accuracy of the model.
# Compare the accuracies of the two models.

tree_model_tl = DecisionTreeClassifier()
tree_model_tl.fit(X_tl_train, y_tl_train)
tree_model_tl.score(X_tl_test,y_tl_test)

0.754041570438799