In [35]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import TomekLinks
from sklearn.tree import DecisionTreeClassifier

In [36]:
data = pd.read_csv('Customer-Churn.csv')

In [37]:
X = data.drop('Churn', axis=1)
y = data['Churn']

In [38]:
X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5

In [39]:
categorical = X.select_dtypes(include=['object'])
categorical = categorical.drop('TotalCharges', axis=1)
for x in categorical:
    X = X.drop(x, axis=1)

categorical = pd.get_dummies(categorical)
categorical

X = pd.concat([X, categorical], axis=1)

In [40]:
# Assuming 'X' is your dataframe
empty_indexes = X[X.eq(' ').any(axis=1)].index

# Print the indexes of empty values
print(empty_indexes)

# Drop rows with null values
X.drop(empty_indexes, inplace=True)
y.drop(empty_indexes, inplace=True)
# Verify the modified dataframe
X.reset_index(drop=True, inplace=True)
y.reset_index(drop=True, inplace=True)

Int64Index([488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754], dtype='int64')

In [41]:
X.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year
0,0,1,29.85,29.85,1,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,0
1,0,34,56.95,1889.5,0,1,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
2,0,2,53.85,108.15,0,1,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
3,0,45,42.30,1840.75,0,1,1,0,1,0,...,1,1,0,0,1,0,0,0,1,0
4,0,2,70.70,151.65,1,0,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0

In [42]:
y_encoded = []

for val in y:
    if val == 'Yes':
        y_encoded.append(1)
    else:
        y_encoded.append(0)

In [43]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()

X_resampled, y_resampled = smote.fit_resample(X, y_encoded)
X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled,test_size=0.2)

model = LogisticRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = model.score(X_test, y_test)

print("Regression Model Accuracy:", accuracy)



model = DecisionTreeClassifier()

model.fit(X_train,y_train)

model.score(X_test,y_test)

accuracy = model.score(X_test, y_test)

print("Decision Tree Accuracy:", accuracy)

Regression Model Accuracy: 0.8291384317521782
Decision Tree Accuracy: 0.8102613746369797

C:\Users\migue\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [44]:
tomek = TomekLinks()

X_resampled, y_resampled = tomek.fit_resample(X, y_encoded)
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = model.score(X_test, y_test)
print("Logistic Regression Model Accuracy:", accuracy)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = model.score(X_test, y_test)
print("Decision Tree Accuracy:", accuracy)

Logistic Regression Model Accuracy: 0.7797527047913446
Decision Tree Accuracy: 0.7109737248840804